:root {
  /* Background Colors */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #6c757d;
  --dark-bg-color: #f8f9fa;

  /* Text Colors */
  --primary-text-color: #1c1812;
  --secondary-text-color: #65625e;
  --secodary-light-text-color: #aeadaa;

  /* Typography */
  --primary-font-family: "Gluten";
  --secondary-font-family: "Inter";
}

/* global styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family);
  letter-spacing: 0%;
}
