@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400;700&family=Inter:wght@400;700&display=swap");

:root {
  /* Background Colors */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f1ece1;
  --dark-bg-color: #1c1812;
  --secondary-dark-bg-color: #514432;
  
  /* Text Colors */
  --primary-text-color: #1c1812;
  --secondary-text-color: #65625e;
  --primary-light-text-color: #f7f7f6;
  --secodary-light-text-color: #aeadaa;

  /* Typography */
  --primary-font-family: "Inter";
  --secondary-font-family: "Gluten";
}

/* global styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family);
  letter-spacing: 0%;
}
